:root {
   --text-color: #212121;
   --second-text-color: #757575;
   --accent-color: #2196F3;
   --main-color: #FFFFFF;
   --theme-color: #F5F4FA;
   --second-theme-color: #2F303A;

   /* Grid */
   --items: 1;
   --indent: 30px;
}
body {
   font-family: 'Roboto', sans-serif;
   color: var(--text-color);
   background-color: var(--main-color);
   font-size: 14px;
   letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p, ul {
   margin: 0;
   padding: 0;
}
img {
   display: block;
}

/** Utility class */

.list {
   list-style: none;
}
.link {
   text-decoration: none;
   color: var(--text-color);
   padding: 0;
   margin: 0;
}
.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center; 
}
.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.hide {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
/*
   |============================
   | Grid in flex-box
   |============================
*/
.grid {
   display: flex;
   flex-wrap: wrap;
   margin: calc(-1 * var(--indent) / 2);
}
.grid-item {
   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
   margin: calc(var(--indent) / 2);
}

/** HEADER */
.header {
   border-bottom: 1px solid #ECECEC
}
.nav-bar {
   display: flex;
   margin-left: auto;
}
.header-flex {
   display: flex;
   align-items: center;
}
/*! 2 способа запомнить  */
/* .nav-item:not(:first-child) {
   margin-left: 50px;
} */
.nav-item + .nav-item {
   margin-left: 50px; 
}
.logo {
   display: block;
   padding: 24px 0;
   margin-right: 93px;

   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: #000000;
}
.logo-web {
   color: var(--accent-color);
}
.logo-studio {
   color: var(--main-color);
}
.nav-link,
.contact {
   padding: 32px 0;
   display: block;
   
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--text-color);
}  
.contact {
   color: var(--second-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact:focus,
.contact:hover,
.current {
   color: var(--accent-color);
}

/* * HERO SECTION */

.hero {
   background-image: 
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
   margin: 0 auto;
   max-width: 1600px;
   background-position: center;
   padding-top: 200px;
   padding-bottom: 200px;
}
.hero-title {
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-color);
}
.hero-button {
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 32px;
   border: none;
   border-radius: 4px;

   background-color: var(--accent-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   color: var(--main-color);
}
.hero-button:focus,
.hero-button:hover {
   background-color: #188CE8;
}

/* * FEATURES SECTION */
.features {
   display: flex;
}
.features-item {
   flex-basis: 270px;
}
.features-item + .features-item {
   margin-left: 30px;
}
.features-title {
   margin-bottom: 10px;
   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
   font-size: 14px;
}
.features-text {
   font-weight: 400;
   line-height: 1.71;
   text-align: left;
   vertical-align: top;
   color: var(--second-text-color);
}

/* * WORKS SECTION */
.works-section {
   padding-bottom: 94px;
}
.works {
   display: flex;
}
.works-title {
   margin-bottom: 50px;
}
.works-item + .works-item {
   margin-left: 30px;
}

/* * WORKERS SECTION */

.worker {
   background-color: var(--theme-color);
}
.worker-list {
   display: flex;
}
.card {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: auto;
   padding-right: auto;
}
.worker-title {
   margin-bottom: 50px;
}
.worker-card {
   flex-basis: 270px;
   border-radius: 4px;
   
   background-color: var(--main-color);
   font-size: 16px;
   line-height: 1.19;
}
.worker-card+.worker-card {
   margin-left: 30px;
}
.worker-name {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   text-align: center;
}
.worker-position {
   text-align: center;
   font-weight: 400;
   color: var(--second-text-color);
}

/* * PROJECTS */
.buttons-list {
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
}
.project-button:focus,
.project-button:hover,
.project-button.active {
   background-color: var(--accent-color);
   color: var(--main-color);
}
.project-button {
   border: none;
   border-radius: 4px;
   padding: 6px 22px;

   background-color: var(--theme-color);
   color: var(--text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   cursor: pointer;
}
.buttons-item+.buttons-item {
   margin-left: 8px;
}
/*! 2 способа позиционирования  */
/* .project-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.project-card {
   width: 370px;
   margin-bottom: 30px;
}
.project-card:nth-last-child(-n+3) {
   margin: 0;
} */
.project-list {
   --items: 9;
}
.card-container {
   padding: 24px 20px;
   border-left: 1px solid #EEEEEE;
   border-bottom: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
}
.project-title {
   margin-bottom: 4px;

   text-align: left;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.project-text {
   text-align: left;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   color: var(--second-text-color);
}

/* * FOOTER CONTENT * */

.footer {
   padding-top: 60px;
   background-color: var(--second-theme-color);
   padding-bottom: 60px;
}
.footer .logo {
   padding: 0;
   margin-bottom: 20px;
}
.address-item + .address-item {
   margin-top: 9px;
}
.footer-contact {
   font-weight: 400;
   line-height: 1.71;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
}
.footer-physical {
   color: var(--main-color);
   font-weight: 400;
   line-height: 1.71;
   font-style: normal;
}
.footer-contact:hover,
.footer-contact:focus
{
   color: var(--accent-color);
}